# --------- hydra --------- #
hydra-colorlog==1.2.0
hydra-core==1.3.2
hydra-optuna-sweeper==1.2.0

# --------- loggers --------- #
wandb

# --------- pipeline --------- #
click
numpy
pydantic>=2
pyyaml
structlog
tenacity
webdataset

# --------- dev tools --------- #
hatchling
plumb-dev @ git+https://github.com/ktinubu/plumb.git@1159ced838fd493c7dade65ae664639aca5f768f

# --------- others --------- #
dask[distributed]
einops
h5py
hypothesis
hdf5plugin
librosa
loguru
matplotlib
mutmut==3.5.*
mido
pedalboard
POT
pre-commit
pyloudnorm
pyright
pytest
pytest-benchmark
pytest-xdist
rich
rootutils
runpod==1.8.1
scipy==1.14.1
threadpoolctl
